In [2]:
import random

num = random.randint(1, 100)

num

99

https://pypi.org/

http://python.org/

In [6]:
name = 'Anna'

In [7]:
NaMe = 'Bob'

In [8]:
name

'Anna'

In [9]:
NaMe

'Bob'

snake_case  - змеинный стиль

In [10]:
my_name_is = 'John'

Не создаем a, b, x, 1_name , MyName, myName

In [11]:
a = 10

In [12]:
a

10

In [13]:
print(a)

10

In [14]:
моё_имя = 'Мэри'

In [15]:
моё_имя

'Мэри'

In [16]:
_ = 10

In [17]:
_

10

In [18]:
NAME = 'John'

In [19]:
number = 10 # Это правильно

In [20]:
number_1=11 # Это правильно

In [21]:
1_number = 100

SyntaxError: invalid decimal literal (59298385.py, line 1)

In [22]:
name = 'Mary'
age = 25
print(name)
print(age)

Mary
25

In [23]:
name = "Mary"
age = 25
print(name)
print(age)

Mary
25

In [24]:
name = '''Mary'''
age = 25
print(name)
print(age)

Mary
25

In [25]:
name = """Mary"""
age = 25
print(name)
print(age)

Mary
25

In [26]:
my_str = 'My name's Mary'

SyntaxError: unterminated string literal (detected at line 1) (3697633257.py, line 1)

In [27]:
my_str = "My name's Mary"

In [28]:
my_str

"My name's Mary"

In [29]:
my_str = 'My name"s Mary'
print(my_str)

My name"s Mary

In [31]:
my_text = '''Привет, Мир.
Мы изучаем python.
   Ура!!
'''
print(my_text)

Привет, Мир.
Мы изучаем python.
   Ура!!

In [32]:
my_text = 'Привет, Мир.
Мы изучаем python.
   Ура!!
'
print(my_text)

SyntaxError: unterminated string literal (detected at line 1) (1184878468.py, line 1)

In [34]:
my_text = 'Привет, Мир. \
Мы изучаем python. \
   Ура!! \
'
print(my_text)

Привет, Мир. Мы изучаем python.    Ура!!

In [37]:
name = """Mary"""; age = 25; print(name);  print(age)  # Так не пишем

Mary
25

In [40]:
name = """Mary"""  # строки  тип str
age = 25 # целые числа -  тип int
number = 17.3 # дробные числа - тип float
male = False # булев тип - тип bool - True и False
print(name)
print(age)
print(number)
print(male)

Mary
25
17.3
False
Mary 25 17.3 False

In [43]:
print(name, age, number, male)
print(name, age, number, male, sep='-!-')

Mary 25 17.3 False
Mary-!-25-!-17.3-!-False

In [46]:
name = """Mary"""  # строки  тип str
age = 25 # целые числа -  тип int
number = 17.3 # дробные числа - тип float
male = False # булев тип - тип bool - True и False
print(name, end=' Перенос на новую строку\n')
print(age, end=' Перенос на новую строку 2 \n')
print(number, end=' Перенос на новую строку 3')
print(male, end=' Конец ! ')

Mary Перенос на новую строку
25 Перенос на новую строку 2
17.3 Перенос на новую строку 3False Конец !

In [47]:
male

False

In [48]:
num = input()

In [49]:
num

'1000'

In [50]:
num = input('Введите число: ')

In [51]:
num

'1200'

In [52]:
name = """Mary"""  # строки  тип str
age = 25 # целые числа -  тип int
number = 17.3 # дробные числа - тип float
male = False # булев тип - тип bool - True и False
print(type(name))
print(type(age))
print(type(number))
print(type(male))

<class 'str'>
<class 'int'>
<class 'float'>
<class 'bool'>

In [55]:
num_1 = input('Введите число: ')
print(type(num_1))
print(num_1)

<class 'str'>
123

In [61]:
num1 = 123
num2 = 456
print(type(num1))
print(type(num2))
num3 = num1 + num2
print(num3)
print(type(num3))
num4 = num2 - num1
print(num4)
print(type(num4))
num5 = num1 - num2
print(num5)
print(type(num5))

num6 = num1 * num2
print(num6)
print(type(num6))

num7 = num1 / num2
print(num7)
print(type(num7))

num8 = num2 % num1
print(num8)
print(type(num8))

num9 = num2 // num1
print(num9)
print(type(num9))

<class 'int'>
<class 'int'>
579
<class 'int'>
333
<class 'int'>
-333
<class 'int'>
56088
<class 'int'>
0.26973684210526316
<class 'float'>
87
<class 'int'>
3
<class 'int'>

In [62]:
num_1 = 10
num_2 = 2
num_3 = num_1 / num_2
print(num_3)
print(type(num_3))

5.0
<class 'float'>

In [63]:
num_1 = 10
num_2 = 1.1
num_3 = num_1 - num_2
print(num_3)
print(type(num_3))

8.9
<class 'float'>

In [64]:
num_1 = '123'
num_2 = '456'
num_3 = num_1 + num_2
print(num_3)
print(type(num_3))

123456
<class 'str'>

In [65]:
num_1 = '123'
num_2 = 456
num_3 = num_1 + num_2
print(num_3)
print(type(num_3))

TypeError: can only concatenate str (not "int") to str

In [66]:
num_1 = '123'
num_2 = '456'
num_3 = num_1 * 3
print(num_3)
print(type(num_3))

123123123
<class 'str'>

In [69]:
num1 = 123
print(id(num1))
num2 = 456
print(id(num2))
num1 = num1 + num2
print(num1)
print(id(num1))
print(type(num1))

11757800
126390959244304
579
126390959143856
<class 'int'>

In [71]:
result = None
print(type(result))

<class 'NoneType'>

 num1 или num_1

In [72]:
name = ''
print(type(name))

<class 'str'>

In [74]:
num_1 = 0.1
num_2 = 0.2
num_3 = num_1 + num_2
print(num_3)
print(type(num_3))

0.30000000000000004
<class 'float'>

In [78]:
num = 123.456789
print(type(num))
print(num)
num_1 = round(num)
print(type(num_1))
print(num_1)
num_2 = round(num, 2)
print(type(num_2))
print(num_2)
num_3 = round(num, -2)
print(type(num_3))
print(num_3)

<class 'float'>
123.456789
<class 'int'>
123
<class 'float'>
123.46
<class 'float'>
100.0

In [83]:
num_1 = '123'
print(id(num_1))
print(type(num_1))
num_1 = int(num_1)
print(id(num_1))
print(type(num_1))
num_2 = 456
num_3 = num_1 + num_2
print(num_3)
print(type(num_3))

126391142692592
<class 'str'>
11757800
<class 'int'>
579
<class 'int'>

In [84]:
num_1 = '123'
print(id(num_1))
print(type(num_1))
num_1 = float(num_1)
print(id(num_1))
print(type(num_1))
num_2 = 456
num_3 = num_1 + num_2
print(num_3)
print(type(num_3))

126391142692592
<class 'str'>
126390990933552
<class 'float'>
579.0
<class 'float'>

In [85]:
num_1 = '123'
print(id(num_1))
print(type(num_1))
num_2 = 456
print(id(num_2))
num_2 = str(num_2)
print(id(num_2))
num_3 = num_1 + num_2
print(num_3)
print(type(num_3))

126391142692592
<class 'str'>
126390958581840
126391021840704
123456
<class 'str'>

In [87]:
my_bool = True
print(my_bool)
print(type(my_bool))

my_bool = str(my_bool)
print(type(my_bool))
print(my_bool)

True
<class 'bool'>
<class 'str'>
True

In [89]:
my_bool = False
print(my_bool)
print(type(my_bool))

my_bool = int(my_bool)
print(type(my_bool))
print(my_bool)

False
<class 'bool'>
<class 'int'>
0

In [101]:
my_item = ''
print(my_item)
print(type(my_item))

my_bool = bool(my_item)
print(type(my_bool))
print(my_bool)

<class 'str'>
<class 'bool'>
False

In [102]:
my_item = None
print(my_item)
print(type(my_item))

my_bool = bool(my_item)
print(type(my_bool))
print(my_bool)

None
<class 'NoneType'>
<class 'bool'>
False

In [105]:
my_item = 0.0
print(my_item)
print(type(my_item))

my_bool = bool(my_item)
print(type(my_bool))
print(my_bool)

0.0
<class 'float'>
<class 'bool'>
False

In [111]:
name = 'Bob'
my_str = f'Привет, {name} {1 + 2} --- {type(my_str)} !'    #
my_str_2 = 'Привет, ' + name + str(1 + 2) + str(type(my_str)) + '!'    #
print(my_str)
print(my_str_2)

Привет, Bob 3 --- <class 'str'> !
Привет, Bob3<class 'str'>!

In [110]:
name = 'Bob'
my_str = 'Привет, {name} {1 + 2} --- {type(my_str)} !'    #
print(my_str)

Привет, {name} {1 + 2} --- {type(my_str)} !